*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    width: fit-content;
    outline: none;
}

img{
    width: 90px;
    height: 90px;
}

body{
    width: 100%;
    min-height: 100vh;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-cont{
    width: 80%;
    background: rgb(131,58,180);
    background: linear-gradient(35deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 40%, rgba(252,176,69,1) 100%); 
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 3px rgba(7, 7, 7, 0.2);
}



#img_cover{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    left: 50%;
    transform: translate(-50%,-210px);
    box-shadow: 0px 0px 1px 3px rgb(27, 27, 27,.3);
}

.app-body{
    width: 95%;
    display: block;
    margin: 0 auto;
}

.music-player-cont{
    margin-top: 110px;
}

.song_title{
    display: block;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    max-height: 60px;
    overflow: hidden;
    white-space: nowrap;
}

.author{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 2px auto 0px auto;
    font-weight: 600;
    font-size: 16px;
}

.roller-cont{
    width: 90px;
    height: 90px;
    display: block;
    margin-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    animation: rotate 2s linear infinite;
    animation-play-state: paused;
}

.colorchanger{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 99;
    position: absolute;
    background-color: #eee;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img_roller{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.progress_bar{
    margin-top: 25px;
    width: 80%;
    height: 3px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5px;
    cursor: pointer;
}

.progress{
    width: 0%;
    height: 100%;
    border-radius: 1.5px;
    background: palevioletred;
    transition: width 0.1s linear;
    position: relative;
}

.progress::after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    background: palevioletred;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}

.music-player-controller{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    column-gap: 23px;
    padding-bottom: 20px;
}

.prev, .next, .playBtn{
    font-size: 22px;
}

.roller-cont.roll{
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes colorchanger{
    0%{
        background-color: #eee;
    }
    15%{
        background: rgb(236, 66, 66);
    }
    30%{
        background: rgb(206, 21, 206);
    }
    45%{
        background: rgb(240, 240, 77);
    }
    60%{
        background: rgb(46, 228, 46);
    }
    75%{
        background: pink;
    }
    90%{
        background: coral;
    }
    100%{
        background: turquoise;
    }
}






.label{
    cursor: pointer;
    color: darkcyan;
}

.label i{
    font-size: 29px;
}

.loader{
    position: absolute;
    top: 50px;
    right: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 15px;
}

.loader label{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#openFile{
    border: none;
    background: none;
    overflow: hidden;
    width: 70%;
    cursor: pointer;
    display: none;
}





/* media query */
@media only screen and (min-width: 550px){
    .app-cont{
        width: 50%;
    }
}

@media only screen and (min-width: 750px){
    .app-cont{
        width: 40%;
    }
}

@media only screen and (min-width: 950px){
    .app-cont{
        width: 30%;
    }
}









.volumeBtn{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.volumeCondt{
    background: rgb(201, 198, 198, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 50%;
}

.volumeCondt > i{
    font-size: 25px;
    cursor: pointer;
}

.draggableVol{
    width: 100%;
    height: 30px;
    background: rgba(46, 45, 45, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    border-radius: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6.5px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }